<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form action="/lunches/<%=id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=lunches.name%>"/> <br/>
    Color: <input type="text" name="color" value="<%=lunches.color%>"/> <br/>
    Food: <input type="text" name="food" value="<%=lunches.food%>"/> <br/>
    Drinks: <input type="text" name="drink" value="<%=lunches.drink%>"/> <br/>

    <input type="submit" name="" value="Submit Changes"/>
    </form>
    </body>
</html>